.idea
.idea/*
.vscode
.pytest_cache
.ipynb_checkpoints
.tmp.drivedownload
venv
data
__pycache__
utils/__pycache__
./.ideavscode/*
./data/*
./data/raw/*
./data/processed/*/*
./saved/*
*.csv
*.mp4
*.gif
*.npy
*.pkl
*.npz
*.pth
*.txt
*.log
/data/
/thesis-images/
.mapbox_token
*.DS_Store*
.DS_Store
./utils/__pycache__
utils/__pycache__/__init__.cpython-37.pyc
*.xml
*.iml
