.idea
.vscode
.pytest_cache
.ipynb_checkpoints
.tmp.drivedownload
venv
data
__pycache__
.vscode
utils/__pycache__
./.ideavscode/*
./data/*
./data/raw/*
./data/processed/*/*
./saved/*
*.csv
*.mp4
*.gif
*.npy
*.pkl
*.npz
*.npy
*.pth
*.txt
*.log